body 
{    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

div#header div.title, div.item h3, div.item h4
{
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}
div#header
{
    background-color: #DC143C;
    border-bottom: 2px solid #000000;
    color: white;
}
div#header div.title 
{
    font-size: 2em;
    padding: .6em;
}

div#content
{
    border-left: 2px solid #000000;
    margin-left: 15em;
    padding: 1em;
}

div#categories
{
    float: left;
    width: 8em;
    padding: .3em;
}

div.item
{
    border-top: 3px dotted #800000;
    padding-top: .7em;
    margin-bottom: .7em;
}
div.item:first-child
{
    border-top: none;
    padding-top: 0;
}
div.item h3
{
    font-size: 1.3em;
    margin: 0 0 .25em 0;
    color: #C71585;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.item h4
{
     font-size: 1.1em;
     margin: .4em 0 0 0;
     font-family: 'Yu Gothic';
}

div.pager
{
    text-align: right;
    border-top: 2px solid #000000;
    padding: .5em 0 0 0;
    margin-top: 1em;
    margin-bottom: 1em;
}
div.pager a
{
    font-size: 1.1em;
    color: #C71585;
    text-decoration: none;
    padding: 0 .4em 0 .4em;
}
div.pager a:hover
{
    background-color: #FFC0CB;
}
div.pager a.selected
{
    background-color: #DC143C;
    color: white;
}

div#categories a
{
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
    display: block;
    text-decoration: none;
    padding: .6em;
    color: black;
    border-bottom: 1px solid black;
    width: 140px;
}
div#categories a.selected
{
    background-color: #800080;
    color: White;
}
div#categories a:hover 
{
    background-color: #DC143C;
}
div#categories a.selected:hover 
{
    background-color: #DC143C;
}

/*Додати в кошик*/
div.item button
{
    color: white;
    background-color: #32CD32;
    border: 1px solid black;
    float: right;
    font: .99em Arial;
}

h2 
{
    margin-top: 0.3em
}
#cartTable 
{
    width: 90%;
}
#cartTable tfoot td 
{
    border-top: 3px dotted #8B0000;
    font-weight: bold;
}
#cartTable thead th
{
    text-align: right;
}
#cartTable thead th:first-child
{
    text-align: center;
}
#cartTable thead th:nth-child(2)
{
    text-align: left;
}
#cartTable tbody td 
{
    text-align: right;
}
#cartTable tbody td:first-child 
{
    text-align: center;
}
#cartTable tbody td:nth-child(2)
{
    text-align: left;
}
#cartTable tfoot tr td
{
    text-align: right;
}
p.actionButtons
{
    text-align: center;
}

/*Продовжити покупку*/
.actionButtons a 
{
    font: .99em Arial;
    color: White;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #32CD32;
    border: 1px solid black;
}
/*Видалити покупку*/
button.actionButtons 
{
    font: .99em Arial;
    color: White;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #B22222;
    border: 1px solid black;
}
/*Обробити замовлення*/
button.actButtons 
{
    font: .99em Arial;
    color: White;
    margin: .5em;
    text-decoration: none;
    padding: .15em 1.5em .2em 1.5em;
    background-color: #32CD32;
    border: 1px solid black;
}

div#cartSummary 
{
    float: right;
    margin: .8em;
    color: #FFE4E1;
    background-color: #C71585;
    padding: .5em .5em .5em 1em;
}
div#cartSummary a
{
    text-decoration: none;
    padding: .4em 1em .4em 1em;
    line-height: 2.1em;
    margin-left: .5em;
    background-color: #800080;
    color: White;
    border: 1px solid black;
}

/*Обробка замовлення*/
.checkout label 
{
    display: inline-block;
    width: 60px;
    text-align: right;
}
.checkout div input
{
    width: 200px;
    margin: 2px;
}
#errors 
{
    color: red;
}
